@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Oswald-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans Emoji';
  src: url('../fonts/OpenSansEmoji.woff') format('woff');
} 
